<div ng-controller="changePasswordController">
  
    <div class="row">
        <!-- begin col-2 -->
        <!-- end col-2 -->
        <!-- begin col-10 -->
        <div class="col-lg-10">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Change Password</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <form name="changePasswordForm" novalidate>

                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Old Password</label>
                                <input type="password" name="oldPassword" ng-model="user.oldPassword" class="form-control" ng-required="true" />
                                <span class="label label-danger" ng-show="changePasswordForm.oldPassword.$error.required && changePasswordForm.oldPassword.$touched">Old Password is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>New Password</label>
                                <input type="password" name="newPassword" ng-model="user.newPassword" class="form-control" ng-required="true" />
                                <span class="label label-danger" ng-show="changePasswordForm.newPassword.$error.required && changePasswordForm.newPassword.$touched">New Password is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label>Confirm Password</label>
                                <input type="password" name="confirmNewPassword" ng-model="user.confirmNewPassword" class="form-control" ng-required="true" />
                                <span class="label label-danger" ng-show="changePasswordForm.confirmNewPassword.$error.required && changePasswordForm.confirmNewPassword.$touched">Confirm Password is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <input ng-click="changePassword()" type="button" class="btn btn-success btn-block" value="SUBMIT" />
                            </div>
                        </div>
                    </form>
                
                </div>
                    <!-- end panel-body -->
                </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>