<div ng-controller="absentReportController">
   
    <div class="row">
        <!-- begin col-2 -->
        <!-- end col-2 -->
        <!-- begin col-10 -->
        <div class="col-lg-10">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Absent Report</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input type="text" bootstrapdatepicker ng-model="startDate" class="form-control" ng-readonly="true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>End Date</label>
                                <input type="text" bootstrapdatepicker ng-model="endDate" class="form-control" ng-readonly="true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input ng-click="getAbsentReport()" type="button" class="btn btn-success btn-block" value="Search" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            Total Record : {{absentReport.length}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="data-table-responsive" class="table table-striped table-bordered" datatable="" dt-instance="orderInstance" dt-options="orderOptions" dt-columns="orderColumns"></table>
                        </div>
                    </div>
                </div>
                <!-- end panel-body -->
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>