<div ng-controller="studentDetailController">
    <!-- begin profile -->
    <div class="profile">
        <div class="profile-header">
            <!-- BEGIN profile-header-cover -->
            <div class="profile-header-cover"></div>
            <!-- END profile-header-cover -->
            <!-- BEGIN profile-header-content -->
            <div class="profile-header-content">
                <!-- BEGIN profile-header-img -->
                <div class="profile-header-img">
                    <img ng-src="{{studentDetail.photoPath}}" alt="">
                </div>
                <!-- END profile-header-img -->
                <!-- BEGIN profile-header-info -->
                <div class="profile-header-info">
                    <h4 class="m-t-10 m-b-5">{{studentDetail.fullName}}</h4>
                    <p class="m-b-10">Student</p>
                    <a href="#" class="btn btn-xs btn-yellow">Profile</a>
                </div>
                <!-- END profile-header-info -->
            </div>
            <!-- END profile-header-content -->
            <!-- BEGIN profile-header-tab -->
            <ul class="profile-header-tab nav nav-tabs">
                <li class="nav-item"><a href="javascript:;" data-target="#profile-general" class="nav-link active" data-toggle="tab">GENERAL</a></li>
                <li class="nav-item"><a href="javascript:;" data-target="#profile-other" class="nav-link" data-toggle="tab">OTHER</a></li>

            </ul>
            <!-- END profile-header-tab -->
        </div>
    </div>
    <!-- end profile -->
    <!-- begin profile-content -->
    <div class="profile-content">
        <!-- begin tab-content -->
        <div class="tab-content p-0">
            <!-- begin #profile-post tab -->
            <div class="tab-pane fade show active" id="profile-general">
                <div class="table-responsive">
                    <table class="table table-profile">
                        <thead>
                            <tr>

                                <th colspan="2">
                                    <h4>{{studentDetail.firstName}} {{studentDetail.middleName}} {{studentDetail.lastName}}<small>{{studentDetail.className}}</small></h4>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="field">Father Name</td>
                                <td>{{studentDetail.fatherFName}} {{studentDetail.fatherMName}} {{studentDetail.fatherLName}}
                            </tr>
                            <tr>
                                <td class="field">Mother Name</td>
                                <td>{{studentDetail.motherFName}} {{studentDetail.motherMName}} {{studentDetail.motherLName}}
                            </tr>

                            <tr class="divider">
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="field">Roll No</td>
                                <td>{{studentDetail.rollNo}}</td>
                            </tr>
                            <tr>
                                <td class="field">Date Of Birth</td>
                                <td>{{studentDetail.dateOfBirth.replace('/Date(', '').replace(')/', '') | date :"dd MMM, yyyy"}}</td>
                            </tr>
                            <tr>
                                <td class="field">Aadhar No</td>
                                <td>{{studentDetail.aadharNo}}</td>
                            </tr>
                            <tr>
                                <td class="field">Phone Number</td>
                                <td>{{studentDetail.phoneNumber}}</td>
                            </tr>
                            <tr>
                                <td class="field">Email Id</td>
                                <td>{{studentDetail.emailId}}</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end #profile-post tab -->
            <!-- begin #profile-about tab -->
            <div class="tab-pane fade in" id="profile-other">
                <!-- begin table -->
                <div class="table-responsive">
                    <table class="table table-profile">
                        <thead>
                            <tr>

                                <th colspan="2">
                                    <h4>{{studentDetail.firstName}} {{studentDetail.middleName}} {{studentDetail.lastName}}<small>{{studentDetail.groupName}}</small></h4>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="field">Adress</td>
                                <td>{{studentDetail.addressLine1}} </td>
                            </tr>
                            <tr>
                                <td class="field">City</td>
                                <td>{{studentDetail.city}}</td>
                            </tr>
                            <tr>
                                <td class="field">Pin Code</td>
                                <td>{{studentDetail.pinCode}}</td>
                            </tr>


                            <tr>
                                <td class="field">Other Phone Number</td>
                                <td>{{studentDetail.altPhoneNumber}}</td>
                            </tr>
                            <tr>
                                <td class="field">Blood Group</td>
                                <td>{{studentDetail.bloodGroupName}}</td>
                            </tr>

                            <tr>
                                <td class="field">Category</td>
                                <td>{{studentDetail.castName}}</td>
                            </tr>
                            <tr>
                                <td class="field">Nationality</td>
                                <td>{{studentDetail.nationalityName}}</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
                <!-- end table -->
            </div>

        </div>
        <!-- end tab-content -->
    </div>
    <!-- end profile-content -->
</div>
