<div ng-controller="sendNoticeController">

    <div class="row">
        <!-- begin col-2 -->
        <!-- end col-2 -->
        <!-- begin col-10 -->
        <div class="col-lg-10">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <!-- begin panel-heading -->
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">Send Notice</h4>
                </div>
                <!-- end panel-heading -->
                <!-- begin panel-body -->
                <div class="panel-body">
                    <form name="noticeForm">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Notice</label>
                                    <textarea rows="6" cols="10" name="txtNotice" ng-model="txtNotice" class="form-control" required />
                                    <span class="label label-danger" ng-show=" noticeForm.txtNotice.$error.required && noticeForm.txtNotice.$touched">Notice is required.</span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row" ng-hide="isByGroup">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" ng-model="userName" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-hide="isByGroup">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input ng-click="getUsers()" type="button" class="btn btn-success btn-block" value="Search" />
                            </div>
                        </div>
                    </div>

                    <ul class="navbar-nav">
                        <li>
                            <div class="m-t-6">
                                <div class="form-group btn-group btn-group-toggle" data-toggle="buttons">
                                    <label ng-class="isByGroup?'btn btn-outline-primary btn-sm active': 'btn btn-outline-primary btn-sm'" ng-click="isByGroup=true;">
                                        <input type="radio" name="radioByGroup" ng-value="1" ng-model="noticeView">By Group
                                    </label>
                                    <label ng-class="!isByGroup?'btn btn-outline-primary btn-sm active': 'btn btn-outline-primary btn-sm'" ng-click="isByGroup=false">
                                        <input type="radio" name="radioByGroup" ng-value="2" ng-model="noticeView"> By Individual
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="row" ng-hide="isByGroup">
                        <div class="col-sm-12">
                            Total Record : {{userList.length}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <table id="student-table-responsive" class="table table-striped table-bordered" datatable="" dt-instance="orderInstance" dt-options="orderOptions" dt-columns="orderColumns" ng-hide="isByGroup"></table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="class-table-responsive" class="table table-striped table-bordered" datatable="" dt-instance="classInstance" dt-options="classOptions" dt-columns="classColumns" ng-show="isByGroup"></table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input ng-click="sendNotice()" type="submit" class="btn btn-success btn-block" value="Send" />
                            </div>
                        </div>
                    </div>


                </div>
                    <!-- end panel-body -->
                </div>
            <!-- end panel -->
        </div>
        <!-- end col-10 -->
    </div>
    <!-- end row -->
</div>